/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 mar. 2023, 20:09:19
    Author     : isc_a
*/

table {
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
}
